<?xml version="1.0" encoding="UTF-8"?>
<AlteryxJavaScriptPlugin>
  <Properties>
    <MetaInfo>
      <Name>PDF 合併</Name>
      <Description>將多個 PDF 檔案合併為單一 PDF 檔。</Description>
      <ToolVersion>0.2.3</ToolVersion>
      <CategoryName>PwC Data Tools</CategoryName>
      <Author>Assurance Innovation and Transformation</Author>
      <Icon>PDFMerge/icon.png</Icon>
    </MetaInfo>
  </Properties>
</AlteryxJavaScriptPlugin>